<!-- <app-about></app-about>
<app-calculator></app-calculator>
<app-profile></app-profile>
<app-course></app-course>
<app-dashboard></app-dashboard> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <nav>
        <ul>
            <li>
                <a routerLink="home">Home</a>
                <a routerLink="course">Course</a>
                <a routerLink="calculator">Calculator</a>
            </li>
        </ul>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary sticky-top">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqnULbfbYGEuuC2GVfStMgUM2ivq5REnhLHMnvuLk2Ig&s=10" alt="Logo" width="45" height="45" class="rounded-circle me-2">
            <span class="fw-bold">Angular</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="home" routerLinkActive="active" aria-current="page">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="profile" routerLinkActive="active" aria-current="page">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="course" routerLinkActive="active" aria-current="page">Course</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="enum" routerLinkActive="active" aria-current="page">Enum</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="dashboard" routerLinkActive="active" aria-current="page">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="calculator" routerLinkActive="active"
                        aria-current="page">Calculator</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="contact" routerLinkActive="active" aria-current="page">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</body>

</html>